.excerpt_table {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.excerpt_table-cell {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.excerpt_table-item {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    padding: 24px 0;
    margin: 0 auto 5px;
    color: #b2b2b2;
    font-size: 14px;
    line-height: 20px;
    border: 1px #f2f2f2 solid;
}

.excerpt_table-counterparties {
    margin: 0;
    color: #333;
    order: 2;
    width: 100%;
    text-align: left;
    margin-right: auto;
}

.excerpt_table-counterparties-header {
    color: #b2b2b2;
}

.excerpt_table-purpose {
    margin: 0;
    width: 100%;
    order: 4;
    text-align: left;
}

.excerpt_table-sum {
    margin: 0;
    color: #333;
    text-align: left;
    font-weight: bold;
    margin-right: auto;
    order: 3;
}

.excerpt_table-sum-header {
    color: #b2b2b2;
    position: relative;
}

.excerpt_table-header {
    position: relative;
}

.excerpt_table-header::after {
    content: "";
    position: absolute;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: -41px;
    right: 12px;
    background-size: 34px;
    width: 34px;
    height: 34px;
}

.excerpt_table-sum-in {
    color: #48ac98;
}

.excerpt_table-checkbox {
    display: none;
}

.excerpt_table-date {
    width: 100%;
    margin-left: 27px;
    margin-right: auto;
    text-align: left;
    position: relative;
    order: 1;
}

.excerpt_table-date::before {
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    position: absolute;
    left: -29px;
    top: -2px;
}

.excerpt_table-checkbox:checked ~ .excerpt_table-date::before {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../img/Checked.svg");
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    position: absolute;
    left: -29px;
    top: -2px;
}

@media (min-width: $tablet-width) {
    .excerpt_table {
        width: 720px;
    }

    .excerpt_table-item {
        display: flex;
        width: 680px;
        justify-content: space-between;
        padding: 24px 0;
        color: #b2b2b2;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
        border: 0;
    }

    .excerpt_table-header {
        color: #b2b2b2;
        font-size: 14px;
        line-height: 18px;
        border-bottom: 1px #b2b2b2 solid;
    }

    .excerpt_table-cell {
        display: flex;
        padding: 0;
    }

    .excerpt_table-counterparties {
        margin: 0;
        color: #333;
        width: 200px;
    }

    .excerpt_table-counterparties-header {
        color: #b2b2b2;
    }

    .excerpt_table-purpose {
        margin: 0;
        width: 200px;
        order: 3;
    }

    .excerpt_table-sum {
        margin: 0;
        color: #333;
        width: 125px;
        text-align: right;
        order: 4;
    }

    .excerpt_table-sum-header {
        color: #b2b2b2;
        position: relative;
    }

    .excerpt_table-header::after {
        top: -19px;
        right: 10px;
    }

    .excerpt_table-sum-in {
        color: #48ac98;
    }

    .excerpt_table-checkbox {
        display: none;
    }

    .excerpt_table-date {
        width: 114px;
        margin-left: 34px;
        text-align: left;
        position: relative;
    }

    .excerpt_table-date::before {
        content: "";
        width: 18px;
        height: 18px;
        border: 1px solid #b2b2b2;
        border-radius: 2px;
        position: absolute;
        left: -29px;
        top: -2px;
    }

    .excerpt_table-checkbox:checked ~ .excerpt_table-date::before {
        content: "";
        width: 18px;
        height: 18px;
        background-image: url("../img/Checked.svg");
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: center;
        position: absolute;
        left: -29px;
        top: -2px;
    }
}


@media (min-width: $desktop-width) {
    .excerpt_table {
        width: 1040px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .excerpt_table-item {
        display: flex;
        width: 1040px;
        justify-content: space-between;
        padding: 24px 0;
        color: #b2b2b2;
        font-size: 16px;
        line-height: 20px;
    }

    .excerpt_table-header {
        color: #b2b2b2;
        font-size: 14px;
        line-height: 18px;
        border-bottom: 1px #b2b2b2 solid;
    }

    .excerpt_table-counterparties {
        margin: 0;
        color: #333;
        width: 300px;
    }

    .excerpt_table-counterparties-header {
        color: #b2b2b2;
    }

    .excerpt_table-purpose {
        margin: 0;
        width: 400px;
    }

    .excerpt_table-sum {
        margin: 0;
        color: #333;
        width: 125px;
        text-align: right;
    }

    .excerpt_table-sum-header {
        color: #b2b2b2;
        position: relative;
    }

    .excerpt_table-header::after {
        content: "";
        position: absolute;
        background-image: url("../img/plus.svg");
        background-repeat: no-repeat;
        background-position: center;
        top: 14px;
        right: 20px;
        background-size: 34px;
        width: 34px;
        height: 34px;
    }

    .excerpt_table-sum-in {
        color: #48ac98;
    }

    .excerpt_table-checkbox {
        display: none;
    }

    .excerpt_table-date {
        width: 114px;
        margin-left: 34px;
        text-align: left;
        position: relative;
    }

    .excerpt_table-date::before {
        content: "";
        width: 18px;
        height: 18px;
        border: 1px solid #b2b2b2;
        border-radius: 2px;
        position: absolute;
        left: -29px;
        top: -2px;
    }

    .excerpt_table-checkbox:checked ~ .excerpt_table-date::before {
        content: "";
        width: 18px;
        height: 18px;
        background-image: url("../img/Checked.svg");
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: center;
        position: absolute;
        left: -29px;
        top: -2px;
    }
}

@import "variables.scss";
