.excerpt {
    width: $nonfullwidth;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.excerpt_table-cell {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.excerpt_table-item {
    display: flex;
    width: $nonfullwidth;
    flex-wrap: wrap;
    padding: 24px 0;
    margin: 0 auto 5px;
    color: #b2b2b2;
    font-size: 16px;
    line-height: 20px;
    border: 1px #f2f2f2 solid;
    border-radius: 10px;
}

.excerpt_table-counterparties {
    margin: 0;
    color: #333;
    order: 2;
    width: $nonfullwidth;
    text-align: left;
    margin-right: auto;
    font-weight: 400;
    @include overflow;
}

.excerpt_table-counterparties-header {
    color: #b2b2b2;
}

.excerpt_table-purpose {
    margin: 0;
    width: 85%;
    order: 4;
    text-align: left;
    font-weight: 400;
    @include overflow;
}

.excerpt_table-sum {
    margin: 0;
    color: #333;
    text-align: left;
    font-weight: bold;
    margin-right: auto;
    order: 3;
    font-weight: 400;
    @include overflow;
}

.excerpt_table-sum-header {
    color: #b2b2b2;
    position: relative;
}

.excerpt_table-header {
    position: relative;
}

.excerpt_table-header::after {
    content: "";
    position: absolute;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: -41px;
    right: 12px;
    background-size: 34px;
    width: 34px;
    height: 34px;
}

.excerpt_table-sum-in {
    color: #48ac98;
}

.excerpt_table-checkbox {
    display: none;
}

.excerpt_table-date {
    width: $nonfullwidth;
    margin-left: 27px;
    margin-right: auto;
    text-align: left;
    position: relative;
    order: 1;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.excerpt_table-date::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    position: absolute;
    left: -29px;
    top: -2px;
}

.excerpt_table-checkbox:checked ~ .excerpt_table-date::before {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../img/Checked.svg");
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    position: absolute;
    border: none;
    left: -29px;
    top: -2px;
}

@media (min-width: $fablet-width) {
    .excerpt_table-cell {
        width: 95%;
    }

    .excerpt_table-date {
        width: 45%;
        margin-right: 0;
    }
}

@media (min-width: $tablet-width) {
    .excerpt {
        width: $fullwidth;
    }

    .excerpt_table-item {
        width: $nonfullwidth;
        justify-content: space-between;
        margin-bottom: 0;
        border: 0;
        border-radius: 0;
    }

    .excerpt_table-header {
        color: #b2b2b2;
        font-size: 16px;
        line-height: 18px;
        border-bottom: 1px #b2b2b2 solid;
    }

    .excerpt_table-cell {
        padding: 0;
        width: auto;
    }

    .excerpt_table-counterparties {
        margin: 0;
        width: 200px;
    }

    .excerpt_table-purpose {
        width: 200px;
        order: 3;
    }

    .excerpt_table-sum {
        width: 125px;
        text-align: right;
        order: 4;
    }

    .excerpt_table-header::after {
        top: -19px;
        right: 0;
    }

    .excerpt_table-date {
        width: 114px;
        margin-left: 34px;
    }

}

@media (min-width: $desktop-width) {
    .excerpt {
        width: $nonfullwidth;
        max-width: $maxwidth;
    }

    .excerpt_table-item {
        width: $fullwidth;
    }

    .excerpt_table-counterparties {
        width: 280px;
    }

    .excerpt_table-purpose {
        width: 400px;
    }
}

@media (min-width: $wide-format) {
    .excerpt_table-header::after {
        top: 13px;
        right: -73px;
    }
}


@import "variables.scss";
