.find {
    max-width: $fullwidth;
}

.find_head-wrapper {
    width: $nonfullwidth;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.find_title {
    font-size: 24px;
    line-height: 30px;
    color: #b2b2b2;
    margin: 0 0 0 10px;
    font-family: $tochkaSansReg;
}

.find_button {
    display: none;
}

.find_input {
    display: none;
}

.find_checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: $nonfullwidth;
    flex-direction: row;
    margin: 0 auto 30px;
}

.find_choose {
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding: 27px 10px;
    background-color: #fff;
    color: #333333;
    font-family: $tochkaSansReg;
    width: 95%;
    display: inline-block;
    margin: 0 5px 15px 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.find_input-account:checked ~ .find_choose-account {
    background-color: #7658e0;
    color: #fff;
    border-color: transparent;
}

.find_input-counterparties:checked ~ .find_choose-counterparties {
    background-color: #7658e0;
    color: #fff;
    border-color: transparent;
}

.find_input-date:checked ~ .find_choose-date {
    background-color: #7658e0;
    color: #fff;
    border-color: transparent;
}

.find_input-cards:checked ~ .find_choose-cards {
    background-color: #7658e0;
    color: #fff;
    border-color: transparent;
}

@media (min-width: $fablet-width) {
    .find_choose {
        width: 45%;
        margin: 0 auto 10px;
    }
}

@media (min-width: $tablet-width) {
    .find_head-wrapper {
        width: 93%;
    }

    .find_checkbox-wrapper {
        width: 96%;
        flex-direction: row;
    }

    .find_choose {
        display: inline;
    }
}

@media (min-width: $desktop-width) {
    .find_head-wrapper {
        width: $maxwidth;
        margin-bottom: 40px;
    }

    .find_title {
        margin: 0;
    }

    .find_checkbox-wrapper {
        width: $maxwidth;
        margin: 0 auto 60px;
    }

    .find_choose {
        margin: 0 10px 0 0;
        width: auto;
        font-size: 14px;
        padding: 8px 11px 8px 10px;
    }

    .find_choose-counterparties {
        padding: 8px 15px 8px 15px;
    }

    .find_choose-date {
        padding: 8px 9px 8px 8px;
    }

    .find_choose-cards {
        padding: 8px 31px 8px;
    }
}

@import "variables.scss";
