.page-header {
    background-image: url("../img/MaskGroup-1.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: $fullwidth;
}

.page-header_wrapper {
    padding-top: 100px;
    width: $nonfullwidth;
    margin: 0 auto 60px;
    display: flex;
    flex-wrap: wrap;
}

.page-header_title {
    width: 300px;
    margin: 0 auto 30px 0;
    font-size: 40px;
    line-height: $fullwidth;
    font-family: $angleciaProTitle;
}

.page-header_button {
    padding: 0;
    width: 174px;
    height: 44px;
    border: 0;
    color: #fff;
    background-color: #7658e0;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    outline-color: #7658E0;
}

.page-header_link {
    position: relative;
}

.page-header_link::before {
    position: absolute;
    content: "";
    background-image: url("../img/ArrowLeft.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    top: 0;
    left: 4px;
    width: 44px;
    height: 44px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    box-sizing: border-box;
}

@media (min-width: $tablet-width) {
    .page-header_wrapper {
        width: $nonfullwidth;
    }

    .page-header_title {
        margin-bottom: 0;
        font-size: 50px;
    }

    .page-header_button {
        margin-top: auto;
    }
}

@media (min-width: $desktop-width) {
    .page-header {
        padding-top: 114px;
    }

    .page-header_wrapper {
        padding: 0;
        width: $maxwidth;
        margin: 0 auto;
        display: flex;
        margin-bottom: 60px;
    }

    .page-header_title {
        margin: 0;
        font-size: 60px;
        width: 569px;
        margin-right: auto;
        text-align: left;
    }

    .page-header_button {
        margin: auto 0;
    }

    .page-header_link::before {
        top: -84px;
        left: 8px;
    }
}

@import "variables.scss";
