.page-header {
    padding-top: 69px;
}

.page-header_wrapper {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.page-header_title {
    margin: 0;
    font-size: 60px;
    line-height: 100%;
    font-family: $angleciaProTitle;
}

.page-header_button {
    margin: auto 0;
    padding: 0;
    width: 174px;
    height: 44px;
    border: 0;
    color: #fff;
    background-color: #7658e0;
    border-radius: 6px;
    line-height: 20px;
    text-align: center;
}
