@font-face {
    font-weight: bold;
    font-family: "TochkaSans-Bold";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/TochkaSans-Bold.woff2") format("woff2"), url("../fonts/TochkaSans-Bold.woff") format("woff"),;
}

@font-face {
    font-weight: normal;
    font-family: "TochkaSans-Medium";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/TochkaSans-Medium.woff2") format("woff2"), url("../fonts/TochkaSans-Medium.woff") format("woff");
}

@font-face {
    font-weight: lighter;
    font-family: "TochkaSans-Regular";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/TochkaSans-Regular.woff2") format("woff2"), url("../fonts/TochkaSans-Regular.woff") format("woff");
}

@font-face {
    font-weight: lighter;
    font-family: "TochkaSans-Demi";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/TochkaSans-Demi.woff2") format("woff2"), url("../fonts/TochkaSans-Demi.woff") format("woff");
}

@font-face {
    font-family: "AngleciaProTitleBlack";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/AngleciaProTitleBlack.woff2") format("woff2"), url("../fonts/AngleciaProTitleBlack.woff") format("woff");
}
