@font-face {
    font-weight: bold;
    font-family: "TochkaSans-Bold";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/TochkaSans-Bold.otf") format("otf");
}

@font-face {
    font-weight: normal;
    font-family: "TochkaSans-Medium";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/TochkaSans-Medium.otf") format("otf");
}

@font-face {
    font-weight: lighter;
    font-family: "TochkaSans-Regular";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/TochkaSans-Regular.otf") format("otf");
}

@font-face {
    font-weight: lighter;
    font-family: "TochkaSans-Demi";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/TochkaSans-Demi.otf") format("otf");
}

@font-face {
    font-weight: bold;
    font-family: "AngleciaProTitleBlack";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/AngleciaProTitleBlack.otf") format("otf");
}
