$tablet-width: 720px;
$desktop-width: 1024px;
$tochkaSansMed: "TochkaSans-Medium", "Arial", sans-serif;
$tochkaSansBold: "TochkaSans-Bold", "Arial", sans-serif;
$tochkaSansReg: "TochkaSans-Regular", "Arial", sans-serif;
$tochkaSansDemi: "TochkaSans-Demi", "Arial", sans-serif;
$angleciaProTitle: "AngleciaProTitleBlack", "Arial", sans-serif;
