$fablet-width: 480px;
$tablet-width: 720px;
$desktop-width: 1024px;
$wide-format: 1150px;
$fullwidth: 100%;
$nonfullwidth: 95%;
$maxwidth: 1040px;
$tochkaSansMed: "TochkaSans-Medium", "Arial", sans-serif;
$tochkaSansBold: "TochkaSans-Bold", "Arial", sans-serif;
$tochkaSansReg: "TochkaSans-Regular", "Arial", sans-serif;
$tochkaSansDemi: "TochkaSans-Demi", "Arial", sans-serif;
$angleciaProTitle: "AngleciaProTitleBlack", "Arial", sans-serif;
@mixin overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
};
